.border-grid-wrapper{
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 20px;
    margin-top: 3rem;
}
.mostPopularList{
    min-width: 25%;
}
.mostPopularNews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}
.mostPopularNews .title-container {
    font-size: 20px;
    letter-spacing: 2.4px;
}
.mostPopularStory{
    gap: 20px;
}
.mostPopularStory h3{
    font-family: var(--label);
    font-size: 16px;
    margin-top: 6px;
}
.mostPopularStory .article-text{
    display: flex;
    flex-direction: column;
}

.mostPopularStory .article-text .image-wrapper {
    display: block;
    height: 1rem;
    margin-top: 6px;
    margin-bottom: .25rem;
}
.mostPopularStory .article-text .image-wrapper img{
    width: fit-content;
    object-fit: contain;
}
.mostPopularStory .article-text h3{
    font-size: 13px;
    line-height: 17px;
    font-family: var(--generic-text);
}
.mostPopularList {
    padding-top: 1rem;
}
.mostPopularList .title-box {
    font-size: 20px;
    letter-spacing: 2.4px;
}
.mostPopularList .title-box img{
    width: fit-content;
    object-fit: contain;
    height: .75rem;
}
.mostPopularList .mostPopularStory {
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding: .5rem 0;
}

.mostPopularList .mostPopularStory:last-child {
    border-bottom: none;
}

.slide1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.slide1 .article-image{
    height: 50%;
}
.slide1 .image-wrapper {
    display: block;
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
}
.slide1 .image-wrapper img{
    width: fit-content;
    object-fit: contain;
}
.carosello {
    gap: 1.5rem;
    overflow-x: auto;
}
.carosello > *{
    border-top: 3px solid var(--secondary-color);
    padding-top: 2rem;
    transition: ease-in-out .1s;
    cursor: pointer;
    min-width: 25%;
}
.carosello > *:hover{
    border-top: 3px solid black;
    transition: ease-in-out .3s;
}

.slide1 img {
    opacity: 1;
    transition: ease-in-out .1s;
}
.slide1 img:hover {
    opacity: .66;
    transition: ease-in-out .3s;
}

.slide1 .title {
    font-size: 16px;
    line-height: 20px;
}
.spacing{
    justify-content: space-between;
}

.carosello h3 {
    padding-top: 1rem;
    font-family: var(--generic-text);
    font-size: var(--regular-text);
    font-weight: 400;
}

.borderGridTitle {
    font-family: var(--generic-text);
    font-size: 13px;
    font-weight: 400;
}
.svg-width{
    width: 200px;
    height: 20px;
    color: black;
    margin-top:1rem;
}
@media (max-width: 1259px){

    .body-4{
        padding: 0 .75rem;
    }
    .carosello {
        overflow-x: scroll;
    }
    .mostPopularList{
        min-width: 15rem;
    }
    .slide1 img{
        height: inherit;
    }
    .carosello > *{
        min-width: 33%;
        overflow-x: auto;
    }
}

@media (max-width: 999px){
    .border-grid-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .mostPopularList{
        width: 100%;
    }
    .mostPopularList > *{
        border-bottom: 1px solid rgba(0, 0, 0, 0.308);
        padding: 1rem ;
    }
    .carosello{
        overflow-x: scroll;
    }
    .mostPopularNews{
        border-top: 1px solid black;
        padding-top: 1rem;
    }
    .carosello > *{
        border: none;
        padding-top: inherit;
        min-width: 70%;
    }
    .slide1 .article-image {
        height: 18rem;
    }
    .carosello > *:hover {
        border: none;
    }
    .prec, .succ{
        visibility: hidden;
    }
    .mostPopularTitle{
        font-size: 20px;
        font-family: var(--generic-text);
    }
}
