.border-grid-wrapper{
    max-width: var(--max-width);
    margin: 50px auto;
    height: 17rem;
    gap: 20px;
}
.mostPopularStory{
    gap: 20px;
}
.mostPopularList{
    width: 70%;
}
.mostPopularList > *{
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding: 1rem 0;
}

.slide1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.slide1 img{
    height: 50%;
}
.carosello {
    overflow: hidden;
}
.carosello > *{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1rem;
    border-top: 1px solid black;
    padding-top: 2rem;
    line-height: 2ch;
}
.spacing{
    justify-content: space-between;
}

.carosello h3 {
    padding-top: 1rem;
    font-family: var(--generic-text);
    font-size: var(--regular-text);
    font-weight: 400;
}

.borderGridTitle {
    font-family: var(--generic-text);
    font-size: 13px;
    font-weight: 400;
}