.border-grid-wrapper{
    max-width: var(--max-width);
    margin: 0 auto;
    height: 17rem;
    gap: 20px;
}
.mostPopularStory{
    gap: 20px;
}
.mostPopularList{
    width: 70%;
}
.mostPopularList > *{
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

.slide1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.carosello > *{
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 1rem;
    border-top: 1px solid black;
}
.spacing{
    justify-content: space-between;
}