.body-flex {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: auto;
    gap: 30px;
    padding-top: 20px;
    
}

.contentPostPrimary,.primaryPost-conteiner {
    display: flex;
    flex-direction: column;
}
.contentPostPrimary {
    border-top: 5px solid black;
    margin-top: 5px;
    padding-top: 5px;
}

.NewsCentralInner {
    border-top: 1px solid black;
    padding-top: 20px;
}

.NewsCentralInner {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.primaryPost-flex3 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    justify-content: space-between;
}

.primaryPost-side2 {
    padding-right: 20px;
}

.primaryPost-marked {
    width: 200%;
}

.primaryPost- {
    padding-top: 20px;
}

.NewsCentralInner {
    padding-bottom: 20px;
    border-bottom: 5px solid black;
}

.NewsCentralDown {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
    border-top: 1px solid black;
    margin-top: 5px;
}

.Body2-post4 {
    width: 200%;
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 40px;
}

.sideMenu {
width: 35%;
border-top: 5px solid black;
margin-top: 5px;
padding-top: 5px;
}


.intTitle {
    font-family: var(--big-title);
    font-size: var(--large-title);
    padding-top: 20px; 
}

.Titlepost  {
    font-family: var(--label);
    font-size: 11px;
    padding-bottom: 1ch;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 600;
}

.title {
    font-family: var(--big-title);
    font-size: var(--small-title);
    padding-bottom: 1ch;
}

.description {
    font-size: 13px;
    padding-bottom: 1ch;
}

.timeDate {
    font-family: var(--label);
    font-size: var(--by-author-text);
    padding-bottom: 1ch;
}

 .NewsCentralInner .author {
    font-size: 11px;
}

 .NewsCentralInner .title-main {
    font-size: 28px;
} 
 .NewsCentralInner .description {
    font-size: var(--regular-text);
    font-weight: 300;
} 

.primaryPost- {
    align-items: baseline;
}
.primaryPost- .title-primary-post {
    font-family: var(--big-title);
    font-size: 22px;
    color: var(--tertiary-color);
}

.primaryPost- .author-primary-post {
    font-size: 22px;
    font-family: var(--big-title);
    color: dimgrey;
}


