.body2 {
    margin-top: 2rem;
}
.body-flex {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 4rem;
}

.side-articles-container {
    display: flex;
    flex-direction: column;
    max-width: 18%;
    border-top: 5px solid black;
    padding-top: 5px;
    gap: 2rem;
}

.side-articles-container .title-box {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.side-articles-container .title-box h3 {
    font-family: var(--big-title);
    font-size: var(--large-title);
}

.side-articles-container .articles-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.side-articles-container .articles-box .side-article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.side-articles-container .articles-box .side-article .post-label  {
    font-family: var(--label);
    font-size: 11px;
    padding-bottom: 1ch;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 600;
}
.side-articles-container .articles-box .side-article .title {
    font-family: var(--title);
    font-size: 16px;
    line-height: 17px;
}
.side-articles-container .articles-box .side-article .description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 17px;
    font-family: var(--generic-text);
}

.side-articles-container .articles-box .side-article .timeDate {
    font-family: var(--label);
    font-size: 10px;
    letter-spacing: .5px;
    color: var(--secondary-color);
}

.side-articles-container .read-more {
    width: fit-content;
    font-family: var(--generic-text);
    font-size: 13px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 1px solid black;
    padding: 1rem 0;
}
.side-articles-container .read-more span{
    margin-left: 1ch;
}

.main-articles-container {
    border-top: 5px solid black;
    padding-top: 5px;
}

.main-articles-container .articles-top-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    gap: 2.5rem;
    border-bottom: 5px solid black;
}

.main-articles-container .articles-top-container .article-top-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 45%;
}
.main-articles-container .articles-top-container .article-top-main .image-wrapper {
    display: flex;
    height: 17.5rem;
}
.main-articles-container .articles-top-container .article-top-main .article-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-articles-container .articles-top-container .article-top-main .label{
    background-color: white;
    width: fit-content;
    transform: translateY(-100%);
    /*calc negative margin-bottom based on label height
    [margin top, font size, padding bottom, margin bottom, compensation of text-underline*/
    margin-bottom: calc(0px - (1rem + 16px + 2px + 6px + 7px)); 
}
.main-articles-container .articles-top-container .article-top-main .label h4 {
    margin: 1rem 1rem 6px 0;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: calc(7px + 2px + 6px);
    font-weight: 600;
    font-family: var(--label);
    font-size: 16px;
    border-bottom: 5px solid black;
}
.main-articles-container .articles-top-container .article-top-main .title {
    margin-top: 1rem;
    font-size: 28px;
    line-height: 34px;
    font-family: var(--title);
}
.main-articles-container .articles-top-container .article-top-main .description {
    font-size: 16px;
    line-height: 20px;
    font-family: var(--generic-text);
}
.main-articles-container .articles-top-container .article-top-main .author {
    margin-top: .5rem;
    font-size: 13px;
    line-height: 16px;
    font-family: var(--generic-text);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.main-articles-container .articles-top-container .article-top-secondary {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container  {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container > *{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container .image-wrapper {
    display: flex;
    height: 10rem;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container .label {
    margin-top: .5rem;
    font-family: var(--label);
    font-size: 11px;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 600;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container .title {
    margin-top: .5rem;
    font-family: var(--title);
    font-size: 20px;
    line-height: 24px;
    flex: 1;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container .description {
    font-family: var(--generic-text);
    font-size: 16px;
    line-height: 20px;
}
.main-articles-container .articles-top-container .article-top-secondary .articles-container .author {
    font-size: 11px;
    line-height: 15px;
    font-family: var(--generic-text);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.main-articles-container .articles-top-container .article-top-secondary .footer-article {
    padding: 1.5rem 0;
}
.main-articles-container .articles-top-container .article-top-secondary .footer-article > * {
    display: inline;
    font-family: var(--big-title);
    font-size: 22px;
    line-height: 27px;
}
.main-articles-container .articles-top-container .article-top-secondary .footer-article .label {
    color: var(--tertiary-color);
}
.main-articles-container .articles-top-container .article-top-secondary .footer-article .author {
    color: var(--secondary-color);
}


.main-articles-container .articles-bottom-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    margin-top: .25rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.main-articles-container .articles-bottom-container .article-bottom-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 2rem;
    border-right: 1px solid black;
}
.main-articles-container .articles-bottom-container .article-bottom-main .image-wrapper {
    display: flex;
    height: 17.5rem;
}
.main-articles-container .articles-bottom-container .article-bottom-main .label{
    background-color: white;
    width: fit-content;
    transform: translateY(-100%);
    /*calc negative margin-bottom based on label height
    [margin top, font size, padding bottom, margin bottom, compensation of text-underline*/
    margin-bottom: calc(0px - (1rem + 16px + 2px + 6px + 7px)); 
}
.main-articles-container .articles-bottom-container .article-bottom-main .label h4 {
    margin: 1rem 1rem 6px 0;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: calc(7px + 2px + 6px);
    font-weight: 600;
    font-family: var(--label);
    font-size: 16px;
    border-bottom: 5px solid black;
}
.main-articles-container .articles-bottom-container .article-bottom-main .title {
    margin-top: 1rem;
    font-size: 28px;
    line-height: 34px;
    font-family: var(--title);
}
.main-articles-container .articles-bottom-container .article-bottom-main .description {
    font-size: 16px;
    line-height: 20px;
    font-family: var(--generic-text);
}
.main-articles-container .articles-bottom-container .article-bottom-main .author {
    margin-top: .5rem;
    font-size: 13px;
    line-height: 16px;
    font-family: var(--generic-text);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.main-articles-container .articles-bottom-container .article-bottom-secondary {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 2rem;
}

.main-articles-container .articles-bottom-container .article-bottom-secondary {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 2rem;
}

.main-articles-container .articles-bottom-container .article-bottom-secondary .label{
    background-color: white;
    width: fit-content;
}
.main-articles-container .articles-bottom-container .article-bottom-secondary .label h4 {
    margin: 1rem 1rem 6px 0;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: calc(7px + 2px + 6px);
    font-weight: 600;
    font-family: var(--label);
    font-size: 16px;
    border-bottom: 5px solid black;
}
.main-articles-container .articles-bottom-container .article-bottom-secondary .title {
    margin-top: 1rem;
    font-size: 54px;
    line-height: 56px;
    font-family: var(--big-title);
}
.main-articles-container .articles-bottom-container .article-bottom-secondary .description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--generic-text);
}
.main-articles-container .articles-bottom-container .article-bottom-secondary .author {
    margin-top: .5rem;
    font-size: 13px;
    line-height: 16px;
    font-family: var(--generic-text);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

@media (max-width: 1259px){
    

    .body2 {
        margin: .75rem .75rem;
    }
    .body-flex {
            gap: 1rem;
        }
    .side-articles-container {
        max-width: 25%;
    }
    .main-articles-container .articles-top-container {
        flex-direction: column;
    }
    .main-articles-container .articles-top-container .article-top-main{
        max-width: 100%;
        flex-direction: row;
        gap: 2rem;
    }
    .main-articles-container .articles-top-container .article-top-main .image-wrapper {
        flex: 1;
        height: auto;
    }
    .main-articles-container .articles-top-container .article-top-main .article-text {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .main-articles-container .articles-top-container .article-top-main .article-text .label {
        transform: none;
        margin-bottom: 0;
    }

    .main-articles-container .articles-top-container .article-top-main .article-text .label h4{
        margin: 0;
    }

    .main-articles-container .articles-top-container .article-top-secondary{
        flex-direction: column-reverse;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container{
        border-top: 1px solid black;
        padding-top: 2rem;
        border-bottom: none;
        flex-direction: column;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container > *{
        flex-direction: row;
        border-bottom: none;
        gap: 2rem;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container .image-wrapper {
        height: 10rem;
        width: 15rem;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container .article-text {
        display: flex;
        flex-direction: column;
        width: 66%;
        gap: .5rem;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container .article-text .label {
        margin-top: 0px;
    }
    .main-articles-container .articles-top-container .article-top-secondary .articles-container .article-text .title {
        flex: 0;
    }

    .main-articles-container .articles-top-container .article-top-secondary .footer-article {
        border-top: 1px solid black;
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .body-flex {
        flex-direction: column;
    }

    .side-articles-container {
        max-width: 100%;
        gap: 1rem;
        padding-right: 0;
    }
    .side-articles-container .articles-box > *{
        border-bottom: solid 1px black;
        padding-bottom: 1rem;
    }

    .side-articles-container .read-more {
        margin: 0 auto;
    }

    .main-articles-container .articles-bottom-container {
        flex-direction: column;
    }

    .main-articles-container .articles-bottom-container .article-bottom-main {
        padding-right: 0;
        border: none;
    }

    .main-articles-container .articles-bottom-container .article-bottom-secondary {
        padding: 0;
        margin-top: 1rem;
        border-top: 1px solid black;
    }
}









