*{
    text-decoration: none;
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 p {
    font-size: var(--regular-text);
}



a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.h2-style {
    font-size: var(--big-title);
}

.nav-bottom-link-href, .nav-top-link-href {
   text-transform: uppercase;
   letter-spacing: 1.7px;
   font-size: 13px;
}

.nav-bottom-link-href a {
    font-size: var(--small-title);
    font-family: "";
    font-weight: 400;
}

 .nav-bottom-link-href a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
    transition: ease-out .2s;
 }

 .mega-menu-section-list {
    font-size: var(--small-title);
 }

 .mega-menu-section-list:hover {
    text-decoration: none;
    color: var(--secondary-color);
 }

 .subscribe-popup {
    font-size: 26px;
 }
 .flex{
   display: flex;
 }
@media (max-width: 1259px){

}
@media (max-width: 999px){
    
}
@media (max-width: 1259px){
    
}

.body1-left h3, .secondaryNews h3 {
   font-size: var(--primary-color);
}

.body1-left a {
   font-size: var(--by-author-text);
}

.body1-container h2,.secondaryNews h4,.body1-bottom h2 {
   font-size: 11px;
   text-decoration: 1px underline black;
   text-underline-offset: 5px;
   font-weight: bold;  
}

.body1-center h2 {
   font-size: var(--big-title);
   font-weight: 800;
   text-align: center;
   text-decoration: none;
}

.body1-center p {
   text-align: center;
    font-size: var(--regular-text);
}

.body1-center-author p {
   font-size: var(--small-title);
}

.body1-right h3 {
   font-size: 20px;
}

.secondaryNews h5, .body1-left p {
   font-size: 13px; 
}

.secondaryNews h5 {
   font-size: 10px;
}

.body1-bottom p {
   font-size: var(--regular-text);

}


/*re-usable*/
.flex {
   display: flex !important;
   flex-direction: row;
}

.flex-column {
   display: flex !important;
   flex-direction: column;
}

.mobile-only{
   display: none !important;
}

.desktop-only{
   display: block;
}