*{
    text-decoration: none;
    color: var(--primary-color);
    box-sizing: border-box;
 }
 body{
    max-width: var(--max-width);
    margin: auto;
 }
 p {
    font-size: var(--regular-text);
}



a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

img{
   width: 100%;
   height: auto;
}

.h2-style {
    font-size: var(--big-title);
}

.nav-bottom-link-href a {
    font-size: var(--small-title);
    font-family: "";
    font-weight: 400;
}

 .nav-bottom-link-href a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
 }

 .mega-menu-section-list {
    font-size: var(--small-title);
 }

 .mega-menu-section-list:hover {
    text-decoration: none;
    color: var(--secondary-color);
 }

 .subscribe-popup {
    font-size: 26px;
 }
@media (max-width: 1259px){

}
@media (max-width: 999px){
    
}
@media (max-width: 768px){
    
}