*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
}

/*re-usable*/
.flex {
    display: flex !important;
    flex-direction: row;
}

.flex-column {
    display: flex !important;
    flex-direction: column;
}

.mobile-only{
    display: none !important;
}

.desktop-only{
    display: block;
}

/*MENU*/
.menu-wrapper{
    width: 100%;
}

/*MENU - TOP & BOTTOM LAYOUT*/
.nav-top, .nav-bottom{
    width: 100%;
    padding: .5rem;
    justify-content: center;
}

.nav-top{
    height: 7.5rem;
}

.nav-bottom{
    height: 2.75rem;
}

/*MENU - TOP & BOTTOM CONTAINER LAYOUT*/
.nav-top-container, .nav-bottom-container{
    width: 100%;
    max-width: var(--max-width);
    justify-content: space-between;
    align-items: stretch;
}

/*MENU - TOP & BOTTOM - SECTIONS LAYOUT*/
.nav-top-link, .nav-top-auth { /*Left & Right*/
    width: 25%;
}

.nav-top-logo { /*Center*/
    max-width: 50%;
    flex: 1;
}

.mega-menu-button-container, .nav-bottom-searchbar-container, .sticky-menu-link { /*Left & Right*/
    width: 25%;
}

.nav-bottom-logo, .nav-bottom-link { /*Center*/
    max-width: 50%;
    flex: 1;
}

/*TOP PART*/

.nav-top-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-top-logo{
    align-items: center;
}
.top-logo-container {
    width: 100%;
    height: 100%;
    max-width: 80%;
}

.top-logo-container .logo{
    filter: 
        drop-shadow(1px 1px white)
        drop-shadow(4px 2px rgb(0, 0, 0, .25));
}
.nav-top-link{
    align-items: flex-start;
}
.nav-top-auth{
    align-items: flex-end;
}
.nav-top-link-href {
    position: relative;
}
.subscribe-box {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/*BOTTOM PART*/
.nav-bottom-link{
    display: flex;
    justify-content: space-between;
}












@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none !important;
    }

}

