







/*body 2  */



div.card-post-left{
    float: left;
    width: 50%;
    box-sizing : border-box;
    border-right: 1px solid #000;
    padding-right: 20px;

   
}


div.card-post-right {
   
    font-family: "Graphik Semibold", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    
}

div.advertising { 
    
        /* Font & Text */
        font-family: "Graphik Semibold", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
     
 
    
        /* Box */
        height: 90px;
        width: 1260px;
      
    }
  

  